language: node_js

node_js:
  - "0.10"

#services:
#  - mongodb

before_install:
  # install meteor
  - "curl https://install.meteor.com | /bin/sh"
  # Optionally we can update all our dependencies here
  #- "meteor update"
  - "meteor reset"
  - "meteor -p 3000 &"
  # give Meteor some time to download packages, init data, and to start
  - "sleep 50"

script: meteor --test