<template name="addcollection">
    <form role="form">
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" name="name" placeholder="Collection name">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" type="text" name="description" placeholder="Brief description of the collection"></textarea>
        </div>
        <div class="form-group">
            <label for="contactEmail">Contact Email (comma separated)</label>
            <input class="form-control" type="text" name="contactEmail" placeholder="Collection Contact Email">
        </div>
        <div class="form-group">
            <label for="hostInstitution">Host Institution</label>
            <input class="form-control" type="text" name="hostInstitution" placeholder="Collection Host Institution">
        </div>
        <div class="form-group">
            <label for="phenotypes">Phenotypes (comma separated)</label>
            <input class="form-control" type="text" name="phenotypes" placeholder="Enter phenotyes in the collection">
        </div>
        <div class="form-group">
            <label for="specimenTypes">Specimen Types (comma separated)</label>
            <input class="form-control" type="text" name="specimenTypes" placeholder="Enter the specimen types in the collection">
        </div>
        <div class="form-group">
            <label for="ethnicities">Race/Ethnicities (comma separated)</label>
            <input class="form-control" type="text" name="ethnicities" placeholder="Enter the ethnicities in the collection">
        </div>
        <div class="form-group">
            <label for="participantCount">Participant Count</label>
            <input class="form-control" type="text" name="participantCount" placeholder="Enter the approximate number of participants">
        </div>
        <div class="form-group">
            <label for="notes">Notes</label>
            <textarea class="form-control" type="text" name="notes" placeholder="Enter any additional notes about this collection"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Save Collection</button>
        <a class="btn btn-default" href="{{pathFor 'listCollections'}}">Cancel</a>
    </form>
</template>
