<template name="listcollections">
    <span class="pull-right">
        <form class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="search">Search Collections</label>
                <div class="input-group">
                    <input class="form-control search" type="text" name="search" placeholder="Search Collections" value={{searchTerms}}>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" title="Spaces separate search terms." data-toggle="tooltip">
                            <span class="glyphicon glyphicon-info-sign"></span>
                        </button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <a class="btn btn-default" href="{{pathFor 'addCollection'}}" title="Add Collection" data-toggle="tooltip"><span class="glyphicon glyphicon-plus"></span></a>
            </div>
        </form>
    </span>
    <h2>Collections</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Host Inst.</th>
                <th>Name</th>
                <th>Description</th>
                <th>Race/Ethnicities</th>
                <th>Phenotypes</th>
                <th>Specimen Types</th>
                <th>Participant Count</th>
            </tr>
        </thead>
        <tbody>
            {{#each collections}}
                {{> collectionRow}}
            {{/each}}
        </tbody>
    </table>
</template>

<template name="collectionRow">
    <tr>
        <td>{{hostInstitution}}</td>
        <td><a href="{{pathFor 'viewCollection'}}">{{name}}</a></td>
        <td>{{description}}</td>
        <td>{{> labelSet labels=ethnicities}}</td>
        <td>{{> labelSet labels=phenotypes}}</td>
        <td>{{> labelSet labels=specimenTypes}}</td>
        <td>{{participantCount}}</td>
    </tr>
</template>
