<template name="listcollections">
    <span class="pull-right">
        <a class="btn btn-default" href="{{pathFor 'addCollection'}}" title="Add Collection" data-toggle="tooltip"><span class="glyphicon glyphicon-plus"></span></a>
    </span>
    <h2>Collections</h2>
    <label class="sr-only" for="search">Search Collections</label>
    <div class="input-group">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" title="Spaces separate search terms." data-toggle="tooltip">
                <span class="glyphicon glyphicon-info-sign"></span>
            </button>
        </span>
        <input class="form-control search" type="text" name="search" placeholder="Search Collections">
        <span class="input-group-btn">
            <button class="btn btn-default share" type="button" title="Share this search." data-toggle="tooltip">
                <span class="glyphicon glyphicon-share"></span>
            </button>
        </span>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Host Inst.</th>
                <th>Name</th>
                <th>Description</th>
                <th>Race/Ethnicities</th>
                <th>Phenotypes</th>
                <th>Specimen Types</th>
                <th>Participant Count</th>
            </tr>
        </thead>
        <tbody>
            {{#each collections}}
                {{> collectionRow}}
            {{/each}}
        </tbody>
    </table>
    {{#if nextPath}}
        <a class="btn btn-primary" href="{{nextPath}}">Load More</a>
    {{/if}}
</template>

<template name="collectionRow">
    <tr>
        <td>{{hostInstitution}}</td>
        <td><a href="{{pathFor 'viewCollection'}}">{{name}}</a></td>
        <td>{{description}}</td>
        <td>{{> labelSet labels=ethnicities}}</td>
        <td>{{> labelSet labels=phenotypes}}</td>
        <td>{{> labelSet labels=specimenTypes}}</td>
        <td>{{participantCount}}</td>
    </tr>
</template>
