<template name="home">
    <div class="jumbotron">
        <h1>TissueHub</h1>
        <p>Welcome to TissueHub, a tool developed for the CCTS Partner Network to share basic information on biospecimen resources for potential collaboration. Participating in this list does not mean that investigators have agreed to share samples – only that they are open to considering a collaboration with other Network Partners.</p>
        <p><a class="btn btn-large btn-primary" href="{{pathFor 'listCollections'}}">View Collections</a></p>
    </div>
</template>
