<template name="layout">
    <div class="container">
        {{> header}}
        {{> alert}}
        {{> yield}}
        <hr id="end-of-content" />
        <footer>
            <span class="pull-right text-right">
                <a href="http://www.uab.edu/ccts/Pages/default.aspx"><img src="/CCTS_icon.png" alt="CCTS Icon"></a><br />
            </span>
            <p>
                <b>Developed At:</b><br />
                University of Alabama at Birmingham<br />
                Division of Informatics, Department of Pathology<br />
                <a href="http://www.uab.edu/medicine/pathology/divisions-a-sections/informatics">http://www.uab.edu/medicine/pathology/divisions-a-sections/informatics</a>
            </p>
            <p>
                <b>Contact</b> <a href="mailto:robbinsd@uab.edu">David Robbins</a><br />
                <b>Links</b> <a href="https://github.com/TissueHub/TissueHub/issues">Feature Requests/Bugs</a> | <a href="https://github.com/TissueHub/TissueHub">Source Code</a> 
            </p>
        </footer>
    </div>
</template>
