<template name="addspecimenbulk">
    <span class="pull-right">
        <a class="btn btn-default btn-sm" href="{{pathFor 'addSpecimen' _id=collection._id}}"><span class="glyphicon glyphicon-plus"></span> Single-Add</a>
    </span>
    <h2>Add Specimens{{#if collection}} to {{collection.name}}{{/if}} in Bulk</h2>
    <p>
        <a href="{{pathFor 'viewCollection' _id=collection._id}}">Back to Collection</a>
    </p>

    <div class="panel panel-info">
        <div class="panel-heading text-right">
            <h4 class="panel-title"><a href="#addspecimenbulkhelp" data-toggle="collapse" role="button">
                Usage Instructions
            </a></h4>
        </div>
        <div id="addspecimenbulkhelp" class="panel-collapse collapse">
            <div class="panel-body">
                <span class="pull-right">
                    <a class="btn btn-default" href="/SampleBulkSpecimenData.xlsx"> Download Example File</a>
                </span>
                <p>Enter tab-separated data (e.g. copied from Excel), with one data field per column.</p>
                <p>Known Fields (case sensitive)
                    <ul>
                        <li>localId</li>
                        <li>type</li>
                        <li>phenotype</li>
                        <li>ethnicity</li>
                        <li>outcomes</li>
                        <li>pathalogicalDiagnosis</li>
                        <li>description</li>
                    </ul>
                </p>


            </div>
        </div>
    </div>

    {{> bulkInterface interface=BulkInterfaces.addSpecimens afterParse=afterParseHandler}}

</template>
