<template name="addspecimenbulk">
    <span class="pull-right">
        <a class="btn btn-default btn-sm" href="{{pathFor 'addSpecimen' _id=collection._id}}"><span class="glyphicon glyphicon-plus"> Single-Add</span></a>
    </span>
    <h2>Add Specimens{{#if collection}} to {{collection.name}}{{/if}} in Bulk</h2>
    <p>
        <a href="{{pathFor 'viewCollection' _id=collection._id}}">Back to Collection</a>
    </p>

    {{> bulkInterface interface=BulkInterfaces.addSpecimens afterParse=afterParseHandler}}

</template>