<template name="addspecimen">
    <span class="pull-right">
        <a class="btn btn-default btn-sm" href="{{pathFor 'addSpecimenBulk' _id=collection._id}}"><span class="glyphicon glyphicon-upload"> Bulk-Add</span></a>
    </span>
    <h2>Add Specimen{{#if collection}} to {{collection.name}}{{/if}}</h2>
    <p>
        <a href="{{pathFor 'viewCollection' _id=collection._id}}">Back to Collection</a>
    </p>
    {{> quickForm collection="Specimens" id="insertSpecimenForm" type="insert"}}
</template>