<template name="editablememberlist">
    <div class="editable-member-list">
        <h3>Members</h3>

        <div class="form-group">
            <input type="text" class="form-control addusername" name="addusername" placeholder="Add User">
        </div>

        {{#each allMembers}}
            {{> editablemember}}
        {{/each}}

    </div>
</template>

<template name="editablemember">
    <div class="row member">
        <div class="col-sm-3 col-xs-7">
            <p>{{profile.name}} ({{username}})</p>
        </div>
        <div class="col-sm-1 col-xs-3">
            <label class="checkbox-inline"><input type="checkbox" class="owner" checked="{{owner}}"> Owner</label>
        </div>
        <div class="col-sm-1 col-xs-1">
            <button class="btn btn-xs btn-danger remove"><span class="glyphicon glyphicon-minus"></span></button>
        </div>
    </div>
</template>